html
    head
        title #{site} #{text}
        link(href="https://fonts.googleapis.com/css?family=Rubik:400,500" rel="stylesheet")
        style.
            body {
                text-align: center;
                font-family: 'Rubik', sans-serif;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            p {
                margin: 2%;
                font-size: 4em;
                font-weight 400;
                width: 100%;
            }
            @media screen and (max-width: 767px) {
                p {
                    font-size: 2em;
                }
                input[type=text] {
                    font-size: 2.5em;
                }
            }
            input {
                width: 100%;
                height: 25%;
                font-size: 5em;
                font-weight: 500;
                border: 0px solid;
                text-align: center;
                z-index: 1;
            }
            input:focus {
                outline: none;
            }
    body
        div
            p Is
            input(id="site" type="text" autofocus placeholder="Google.com" onkeydown="checkEnter(event)")
            p up?
        script.
            const input = document.getElementById("site");
            function checkEnter(event) {
                if (event.keyCode === 13) {
                    const url = encodeURI(input.value);
                    if (input.value) {
                        if (window.location.port)
                            window.location = `http://${window.location.hostname}:${window.location.port}/site/${url}`;
                        else window.location = `http://${window.location.hostname}/site/${url}`;
                    }
                }
            }

