html
    head
        title #{site} #{text}
        link(href="https://fonts.googleapis.com/css?family=Rubik:400,500" rel="stylesheet")
        style.
            body {
                text-align: center;
                font-family: 'Rubik', sans-serif;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            p {
                font-size: 4em;
                font-weight 400;
            }
            input {
                border: 0px solid;
                text-align: center;
                font-size: 5em;
                font-weight: 500;
            }
            input:focus {
                outline: none;
            }
            @media screen and (max-width: 767px) {
                p {
                    font-size: 2em;
                }
                input {
                    font-size: 3em;
                }
            }
    body
        div
            input(id="site" class='thicc' autofocus value=site placeholder=site onkeydown="checkEnter(event)")
            p(id="status") #{text}
        script.
            const input = document.getElementById("site");
            const status = document.getElementById("status");
            function checkEnter(event) {
                status.innerHTML = 'is ...';
                if (event.keyCode === 13) {
                    const url = encodeURI(input.value);
                    if (input.value) {
                        if (window.location.port)
                            window.location = `http://${window.location.hostname}:${window.location.port}/site/${url}`;
                        else window.location = `http://${window.location.hostname}/site/${url}`;
                    }
                }
            }